
@import "https://fonts.googleapis.com/css?family=Muli&display=swap";
@import "https://fonts.googleapis.com/css?family=Lato:300,400&display=swap";

* {
  box-sizing: border-box;
}

body {
    background: #f7e3c1;
  background: linear-gradient(to right, #f6a9a9, #ddcaaa);
  background: linear-gradient(to right, #dd9797, #e2dacc);

  margin: 0;
}

  
  
.title{
    padding-left: 60px;
    margin-left: 13rem;
    display: flex;
    justify-content: space-between;
  
  }

.container {
    padding: 40px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EE6983;
  }

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}


.logo {
    max-width: 17%;
    height: auto;
    padding: 5px;
    
  }
  
  .links {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .links ul {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    margin-right: 20rem;
    font-size: 1.5rem;
  }
  
  .links li {
    list-style: none;
  }
  
  .links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
  }

#poke-Elem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.poke-cards {
    border-radius: 50px;
    list-style: none;
    padding: 30px;
    background-color: #EE6983;
    color: #222;
  text-align: center;
}



.title-cr {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}
.type {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

.img-card {
    height: 180px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 180px;
   
    text-align: center;
   
}

.btn{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    color: black;
    padding: 7px;
}

.heart-img{
  width:15%;
    height: auto;
    padding: 5px;
    
}

.click{
  display: flex;
  justify-content: center;
}